* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

:root {
  --background-color: #3E3F4D;
  --quizBox-background-color: #5E607B;
  --answerBox-background-color: #8185C0;
  --answer-font-color: #3E3F4D;
  --nextQuest-btn-background: #8185C0;
  --nextQuest-font-color: #3E3F4D; 
  --btn-on-hover: #B1B5F3;
  --transition: all 300ms ease-in-out;
}


body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Oswald", serif;
    min-height: 100vh;
    background-color: var(--background-color);
    color: white;
}

#quizBox {
  background-color: var(--quizBox-background-color);
  padding: 1.5rem 4rem 3rem 4rem;
  width: 450px;
  height: 550px;
  border-top-left-radius: 1.5rem;
  border-radius: 1.5rem;
  position: relative;
}

/*___________________________________QUIZ BOX: PLAY */
#quizTitle {
  text-align: center;
  font-size: 2rem;
}

/* .quizStartScreen {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 12rem;
}

#btnPlay {
  width: 10rem;
  height: 2.4rem;
  background-color: var(--nextQuest-btn-background);
  font-family: "Oswald", serif;
  font-size: 1.4rem;
  border: none;
  border-radius: 0.4rem;
  color: var(--nextQuest-font-color);
  transition: var(--transition);
}

#btnPlay:hover {
  background-color: var(--btn-on-hover);
  color: var(--nextQuest-font-color);
} 

#btnPlay:active {
  transform: scale(0.97);
} */


/*___________________________________QUIZ BOX: QUESTIONS */

.questionScreen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#question {
  margin-top: 6rem;
  font-size: 1.1rem;
}

.quizQuestions {
  color: white;
}



/*___________________________________QUIZ BOX: ANSWERS */
.quizAnswers {
 list-style-type: none;
 margin: 1rem 0;
}

.quizAnswers li {
  margin: .7rem 0;
  padding: .4rem 1.2rem;
  cursor: pointer;
  border: none;
  border-radius: 0.4rem;
  background-color: var(--nextQuest-btn-background);
  color: var(--nextQuest-font-color); 
  font-size: 1.4rem;
  transition: var(--transition);
}

.quizAnswers li:hover {
  background-color: var(--btn-on-hover);
  color: var(--nextQuest-font-color);
}

.quizAnswers li:active {
  transform: scale(0.97);
}
/* SELECTED BTN STYLING */
.selected {
  background-color: var(--btn-on-hover)!important;
  color: var(--nextQuest-font-color)!important;
}

#btnNextQuest {
  width: 10rem;
  height: 2.4rem;
  background-color: var(--nextQuest-btn-background);
  font-family: "Oswald", serif;
  font-size: 1.4rem;
  border: none;
  border-radius: 0.4rem;
  color: var(--nextQuest-font-color);
  transition: var(--transition);
}

/*___________________________________QUIZ BOX: RESULTS */





/* @media(max-width: ) */