* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

:root {
  --background-color: #3E3F4D;
  --quizBox-background-color: #5E607B;
  --answerBox-background-color: #8185C0;
  --answer-font-color: #3E3F4D;
  --nextQuest-btn-background: #8185C0;
  --nextQuest-font-color: #3E3F4D; 
  --btn-on-hover: #B1B5F3;
  --btn-on-hover-dark: #2F2F3B;
  --transition: all 300ms ease-in-out;
}


body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Oswald", serif;
    min-height: 100vh;
    background-color: var(--background-color);
    color: white;
}

/*_____________________________________________QUIZ BOX:  */

#quizBox {
  background-color: var(--quizBox-background-color);
  padding: 1.5rem 4rem 3rem 4rem;
  width: 450px;
  height: 600px;
  border-top-left-radius: 1.5rem;
  border-radius: 1.5rem;
  position: relative;
}

#quizTitle {
  text-align: center;
  font-size: 2rem;
}

/*_______________________________________________QUESTIONS: */

.questionScreen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#question {
  text-align: center;
  margin-top: 5rem;
  font-size: 1.1rem;
}

.quizQuestions {
  color: white;
}


/*________________________________________________ANSWERS: */
.quizAnswers {
 list-style-type: none;
 margin: 1rem 0;
}

.quizAnswers li {
  margin: .5rem 0;
  padding: .4rem 1.2rem;
  cursor: pointer;
  border: none;
  border-radius: 0.4rem;
  background-color: var(--nextQuest-btn-background);
  color: var(--nextQuest-font-color); 
  font-size: 1.1rem;
  transition: var(--transition);
}

.quizAnswers li:hover {
  background-color: var(--btn-on-hover);
  color: var(--nextQuest-font-color);
}

.quizAnswers li:active {
  transform: scale(0.97);
}

/* ______________________________________________RESULT MESSAGE: */

#result {
  text-align: center;
  margin-bottom: .8rem;
}

.correct-answer {
  background-color: #72e772; 
}

.incorrect-answer {
  background-color: #f9657b; 
}

/* ___________________________________________CHECK/NEXT BUTTONS: */

.selected {
  background-color: var(--btn-on-hover)!important;
  color: var(--nextQuest-font-color)!important;
}

#btnCheckAnswer {
  margin: 1rem 5rem .5rem 5rem;
  padding: .4rem 1.2rem;
  width: 10rem;
  height: 2.4rem;
  background-color: var(--nextQuest-font-color);
  font-family: "Oswald", serif;
  font-size: 1.2rem;
  border: none;
  border-radius: 0.4rem;
  color: var(--nextQuest-btn-background);
  transition: var(--transition);
}

#btnCheckAnswer:hover {
  background-color: var(--btn-on-hover-dark);
  color: var(--nextQuest-btn-background);
}

#btnNextQuest {
  margin: .1rem 5rem;
  padding: .4rem 1.2rem;
  width: 10rem;
  height: 2.4rem;
  background-color: var(--nextQuest-font-color);
  font-family: "Oswald", serif;
  font-size: 1.2rem;
  border: none;
  border-radius: 0.4rem;
  color: var(--nextQuest-btn-background);
  transition: var(--transition);
}

#btnNextQuest:hover {
  background-color: var(--btn-on-hover-dark);
  color: var(--nextQuest-btn-background);
}

/*_____________________________________________________SCORE: */

#scoreScreen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
}

#yourScore {
  margin: 10rem 6rem;
  font-weight: bold;
  font-size: 1.5rem;
}

/*___________________________________________PLAY AGAIN BUTTON: */

#btnPlayAgain {
  margin: .1rem 5rem;
  padding: .4rem 1.2rem;
  width: 10rem;
  height: 2.4rem;
  background-color: var(--nextQuest-font-color);
  font-family: "Oswald", serif;
  font-size: 1.2rem;
  border: none;
  border-radius: 0.4rem;
  color: var(--nextQuest-btn-background);
  transition: var(--transition);
}


#btnPlayAgain:hover {
  background-color: var(--btn-on-hover-dark);
  color: var(--nextQuest-btn-background);
}

